<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fr"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description"
	      content="Société de formation et d'accompagnement. Expert certifié dans les approches comportementales. L'association des pratiques Action Type® (préférences motrices) et MBTI® (préférences cognitives) me permet de détecter et révéler les forces d'un individu et d'un groupe (entreprise et sport).">
	<meta name="viewport" content="width=device-width">
	<meta name="keywords"
	      content="runetsense, run&sense, préférences motrices, préférences cognitives, sport, entreprise, nicolas bourada">
	<title>{{ page.title }}</title>

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" href="{{ site.url }}/{{ theme_path('assets/css/vendor.min.css') }}">
	<link rel="stylesheet" href="{{ site.url }}/{{ theme_path('assets/css/main.min.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

	<!-- <link rel="manifest" href="{{ site.url }}/{{ theme_path('assets/manifest.json') }}"> -->
</head>
<body>
	<!--[if lt IE 7]>
	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
		your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
		to improve your experience.</p>
	<![endif]-->

	<div class="frame" id="{{ page.menu }}">
		<nav class="menu">
			<div class="menu-logo">
				<a href="/home">
					<img class="ui" src="{{ site.url }}/{{ theme_path('assets/img/logo.png') }}" alt="Logo de Run&Sense"
					     width="200"></a>
				<a href="#" class="menu-burger">
					<i class="fa fa-bars"></i></a>
			</div>
			<ul class="menu-links">
				<li><a href="/home" class="{{ page.menu == 'home' ? 'active' : '' }}">accueil</a></li>
				<li><a href="/about" class="{{ page.menu == 'about' ? 'active' : '' }}">à propos</a></li>
				<li><a href="/company" class="{{ page.menu == 'company' ? 'active' : '' }}">pour l'entreprise</a></li>
				<li><a href="/sport" class="{{ page.menu == 'sport' ? 'active' : '' }}">pour le sport</a></li>
				<li><a href="/approach" class="{{ page.menu == 'approach' ? 'active' : '' }}">l'approche</a></li>
				<li><a href="/contact" class="{{ page.menu == 'contact' ? 'active' : '' }}">contact</a></li>
			</ul>
		</nav>

		{% block content %}
		{% endblock %}

		{% if page.menu != 'home' %}
		<div class="container">
			<div class="frame-footer responsive large mobile center flex">
				<span class="float-left">
					Développé par <a href="https://soywood.fr" target="_blank">Soywod</a>
				</span>
				<span class="text-center">
					COPYRIGHT © BY RUN&SENSE. ALL RIGHTS RESERVED
				</span>
				<span class="text-right">
					<a href="https://www.facebook.com/runetsense/"
					   target="_blank"
					   class="frame-footer-social">
						<i class="fa fa-facebook"></i></a>

					<a href="https://fr.linkedin.com/in/nicolas-bourada-1bb7a052"
					   target="_blank"
					   class="frame-footer-social">
						<i class="fa fa-linkedin"></i></a>

					<a href="https://twitter.com/nicolasbourada"
					   target="_blank"
					   class="frame-footer-social">
						<i class="fa fa-twitter"></i></a>

					<a href="https://www.instagram.com/runetsense/"
					   target="_blank"
					   class="frame-footer-social">
						<i class="fa fa-instagram"></i></a>

					<a href="https://www.youtube.com/user/MrParavis/"
					   target="_blank"
					   class="frame-footer-social">
						<i class="fa fa-youtube-play"></i></a>
				</span>
			</div>
		</div>
		{% endif %}
	</div>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js"
	        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	        crossorigin="anonymous">
	</script>
	<script src="{{ site.url }}/{{ theme_path('assets/js/main.min.js') }}"></script>

	<script>
		$(function () {
			DOMLoaded("{{page.menu}}");
		});
	</script>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
		var _gaq = [['_setAccount', 'UA-81886509-1'], ['_trackPageview']];
		(function (d, t) {
			var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
			g.src = '//www.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g, s)
		}(document, 'script'));
	</script>
</body>
</html>
