@import "colors";
@import "mixins";

#about {
  //background: url(../img/about.jpg) no-repeat bottom center;
  //background-size: cover;

  header {
    margin-bottom: 15px;
  }

  h1 {
    margin-bottom: 0;
  }

  h2 {
    margin: 0 0 15px 0 !important;
  }

  h4 {
    margin: 0;
    border-bottom: 1px solid $lightGrey;
    padding: 0 0 5px 0;
  }
}

.about-photo {
  border-radius: 50%;
  margin-right: 30px;
}

.about-logo {
  margin-right: 15px;
}

.about-contact li {
  padding: 10px 0;
}

.about-card {
  border-bottom: 1px solid $lightGrey;
  padding-bottom: 15px;
}

/* ==================== MEDIA QUERIES ==================== */

@media (max-width: 767px) {
  .about-content {
    flex-direction: column;

    > div:not(:first-of-type) {
      margin-top: 15px;
    }
  }
}
