@import "colors";
@import "mixins";

#about {
  background: url(../img/about.jpg) no-repeat bottom center;
  background-size: cover;
}

.about {
  i,
  strong {
    color: $green;
  }
}

.about-content {
  display: flex;

  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 30px 15px 15px 15px;
    background: $white;
  }

  h2 {
    margin: 0 0 15px 0;
    @include header;
  }

  h4 {
    margin-bottom: 0;
    border-bottom: 1px solid $lightGrey;
    padding: 0 0 5px 0;
    @include header;
  }
}

/* ==================== MEDIA QUERIES ==================== */

@media (max-width: 767px) {
  .about-content {
    flex-direction: column;

    > div:not(:first-of-type) {
      margin-top: 15px;
    }
  }
}
