@import "colors";
@import "fonts";
@import "mixins";

#company {
  background: url(../img/company.jpg) no-repeat top left;
  background-size: cover;
}

.company.module {
  h3 {
    margin: 0;

    & + div {
      font-style: italic;
    }
  }

  &.training {
    background: #c7d54a;
  }

  &.team-building {
    background: $green;
  }

  &.conference {
    background: #f5a46c;
  }

  &.custom {
    background: #7b797a;
  }
}

.company-icon {
  color: $black;
  opacity: .15;
  margin-bottom: 12px;
}
