@import "colors";
@import "fonts";
@import "mixins";

#company {
  background: url(../img/company.jpg) no-repeat top left;
  background-size: cover;

  .training {
    background: #c7d54a;
  }

  .team-building {
    background: $green;
  }

  .conference {
    background: #f5a46c;
  }

  .custom {
    background: #7b797a;
  }
}

.company.module {
  cursor: pointer;

  h3 {
    margin: 0;

    & + div {
      font-style: italic;
    }
  }
}

.company-icon {
  margin-bottom: 12px;
  border-radius: 50%;
  //background: $white;
}
