@import "colors";
@import "fonts";

#contact {
  //background: url(../img/about.jpg) no-repeat bottom center;
  //background-size: cover;
}

.contact {
  img {
    border-radius: 50%;
    width: 125px;
    height: 125px;
  }

  li {
    padding: 10px;
  }

  input, textarea {
    display: block;
    padding: 10px;
    margin: 5px 0 15px 0;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    border: 1px solid $lightGrey;
    transition: border 400ms;
    font-family: $lato;

    &:focus {
      border: 1px solid $green;
      outline: none;
    }
  }

  button {
    padding: 10px 15px;
    background: $green;
    color: #ffffff;
    font-family: $lato;
    border: 0;
    transition: background 400ms;

    &:hover,
    &:focus {
      outline: none;
      background: darken($green, 6);
    }

    i {
      color: $white;
    }
  }

  label {
    &:after {
      content: " :";
    }
  }
}

/* ==================== MEDIA QUERIES ==================== */

@media (max-width: 767px) {
  .contact {
    img {
      width: 100px;
      height: 100px;
    }
  }
}
