.flex {
  display: flex;
  flex-direction: row;

  &.column {
    flex-direction: column;
  }

  &.center {
    justify-content: center;

    &:not(.top) {
      align-items: center;
    }
  }

  > *:not(.flex-item-auto) {
    flex: 1;
  }

  > .flex-double {
    flex: 2;
  }

  > .flex-triple {
    flex: 3;
  }

  > .flex-quad {
    flex: 4;
  }
}

/* ==================== MEDIA QUERIES ==================== */

@media only screen and (max-width: 319px) {
  .responsive.small.mobile.flex {
    flex-direction: column;
  }
}

@media only screen and (max-width: 479px) {
  .responsive.medium.mobile.flex {
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .responsive.large.mobile.flex {
    flex-direction: column;
  }
}

@media only screen and (max-width: 991px) {
  .responsive.tablet.flex {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1199px) {
  .responsive.desktop.flex {
    flex-direction: column;
  }
}
