@import "colors";

.frame {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-flow: column;
  background: $lightGrey;
  overflow-y: auto;

  &:not(#home) section {
    margin-top: 23px;
  }
}

.frame-footer {
  font-size: .9rem;
  padding: 7px;
  background: $black;
  color: $white;
  margin: 30px 7px 7px 7px;
}

.frame-footer-social {
  padding: 0 7px;
}