@import "colors";

.frame {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-flow: column;
  background: $white;
  overflow-y: auto;
  padding-bottom: 37px;
}

.frame-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: .8rem;
  padding: 7px;
  background: $black;
  color: $white;
}

.frame-footer-social {
  padding: 0 7px;
}