@import "colors";

.menu {
  background: #ffffff;
  padding: 5px;
  z-index: 2;
  font-size: .9rem;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
}

.menu-logo {
  text-align: center;
}

.menu-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background: #ffffff;

  a {
    display: block;
    margin: 15px 15px 0 15px;
    padding-bottom: 5px;
    color: $black;
    transition: color 200ms, border-bottom 200ms;
    border-bottom: 1px solid transparent;

    &:hover,
    &.active {
      text-decoration: none;
      color: $green;
    }

    &:hover {
      border-bottom: 1px solid $green;
    }
  }
}

.menu-burger {
  margin-top: 4px;
  display: none;
  float: right;
  color: $brown;
  font-size: 2rem;

  &:hover {
    color: $green;
  }
}

/* ==================== MEDIA QUERIES ==================== */

@media (max-width: 767px) {
  .menu {
    padding: 10px;
  }

  .menu-logo {
    img {
      width: 150px;
    }
  }

  .menu-links {
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid transparentize($brown, .8);
    box-shadow: 0 2px 7px 0 transparentize($brown, .85);
    flex-direction: column;

    &.visible {
      display: flex;
      padding-bottom: 15px;

      a {
        padding-bottom: 0;
      }
    }

    &:not(.visible) {
      display: none;

      a {
        padding-bottom: 15px;
      }
    }
  }

  .menu-links {
    display: none;
  }

  .menu-burger {
    display: block;
  }
}