@import "colors";
@import "fonts";
@import "mixins";

#sport {
  background: url(../img/sport.jpg) no-repeat right center;
  background-size: cover;
}

.sport.module {
  h3 {
    margin: 0;

    & + div {
      font-style: italic;
    }
  }

  &.diagnostic {
    background: #c7d54a;
  }

  &.coaching {
    background: #7b797a;
  }

  &.conference {
    background: #f5a46c;
  }

  &.football {
    background: $green;
  }
}

.sport-icon {
  color: $black;
  opacity: .12;
  margin-bottom: 12px;
}

.sport-playlist {
  width: 125px;

  ul {
    margin: 0 0 0 30px;
  }
}

.sport-playlist-item {
  width: 100%;
}

.sport-playlist-link {
  color: $black;
  display: block;
  padding: 7px 0;
}


@media only screen and (max-width: 479px) {
  .sport-playlist {
    display: block;

    ul {
      margin: 0;
    }
  }
}
