@import "colors";
@import "fonts";
@import "mixins";

#sport {
  background: url(../img/sport.jpg) no-repeat right center;
  background-size: cover;
}

.sport.module {
  cursor: pointer;
  background: $green;
  transition: background 200ms;

  h3 {
    color: $white;
  }

  &:hover {
    background: darken($green, 5%);
  }

  &.active {
    background: darken($green, 7%);
  }
}

.sport-icon {
  margin-bottom: 12px;
  border-radius: 50%;
}

.sport-playlist {
  margin-top: 30px;
  overflow: auto;
  width: 100%;
}

.sport-playlist-item {
  height: 100px;
}

.sport-playlist-link {
  color: $black;
  display: block;
  padding: 0 7px;
}
